<app-nav-bar></app-nav-bar>
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" id="crd">
        <div class="card-body" id="body">
          <form class="border border-light p-5">
            <a>
              <span class="align-center" (click)="onSelectClass('SIX')">
                <p><i class="fas fa-book-open">&nbsp;Class</i>:&nbsp; VI</p>
              </span>
            </a>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" id="crd">
        <div class="card-body" id="body">
          <form class="border border-light p-5">
            <span class="align-center">
              <p><i class="fas fa-book-open">&nbsp;Class</i>:&nbsp; VII</p>
            </span>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" id="crd">
        <div class="card-body" id="body">
          <form class="border border-light p-5">
            <span class="align-center">
              <p><i class="fas fa-book-open">&nbsp;Class</i>:&nbsp; VIII</p>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card" id="crd">
        <div class="card-body" id="body">
          <form class="border border-light p-5">
            <span class="align-center">
              <p><i class="fas fa-book-open">&nbsp;Class</i>:&nbsp; IX</p>
            </span>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" id="crd">
        <div class="card-body" id="body">
          <form class="border border-light p-5">
            <a>
            <span class="align-center" (click)="onSelectClass('TEN')">
              <p><i class="fas fa-book-open">&nbsp;Class</i>:&nbsp; X</p>
            </span>
          </a>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" id="crd">
        <div class="card-body" id="body">
          <form class="border border-light p-5">
            <a>
              <span class="align-center" (click)="onSelectClass()">
                <p><i class="fas fa-book-open">&nbsp;Class</i>:&nbsp; XI</p>
              </span>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
  </div>

  <div class="row">
    <div class="col-lg-4">.col-lg-4</div>
    <div class="col-lg-4">.col-lg-4</div>
    <div class="col-lg-4">.col-lg-4</div>
  </div>

  <div class="row">
    <div class="col-xl-4">.col-xl-4</div>
    <div class="col-xl-4">.col-xl-4</div>
    <div class="col-xl-4">.col-xl-4</div>
  </div> -->
</div>
<hr />
<app-footer></app-footer>
