<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark unique-color"
  [containerInside]="false"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" href="#">Carrer Path</a></mdb-navbar-brand
  >

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect
          >Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          More<span class="caret"></span
        ></a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary"
          role="menu"
        >
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">About</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#"
            >Contact</a
          >
          <a class="dropdown-item waves-light" mdbWavesEffect href="#"
            >Something else here</a
          >
        </div>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" href="#">Log In</a>
              <!-- <a class="dropdown-item" href="#">Register</a> -->
              <a class="dropdown-item" href="#">Refer</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="First name"
          formControlName="firstName"
          [(ngModel)]="firstName"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Last name"
          formControlName="lastName"
          [(ngModel)]="lastName"
          required
        />
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" class="btn1" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Account Information</ng-template>
      <mat-form-field>
        <mat-label>Phone No</mat-label>
        <input
          matInput
          placeholder="Phone No."
          formControlName="phoneNumber"
          [(ngModel)]="phoneNumber"
          required
        /> </mat-form-field
      ><br />
      <mat-form-field>
        <mat-label>Email Id</mat-label>
        <input
          matInput
          placeholder="Email Id"
          formControlName="emailId"
          [(ngModel)]="emailId"
          required
        /> </mat-form-field
      ><br />
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Min 8 character length"
          type="password"
          formControlName="password"
          [(ngModel)]="password"
          required
        />
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext class="btn1" (click)="onSubmit()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>One Time Password</ng-template>
    <form [formGroup]="thirdFormGroup">
      
      <mat-form-field>
        <mat-label>OTP</mat-label>
        <input
          matInput
          placeholder="Enter 6 digit OTP"
          formControlName="otp"
          [(ngModel)]="otp"
          required
        />
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperNext class="btn1"  (click)="onSubmitOTP()">Submit</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>

<app-footer></app-footer>